# Virtual environment
myenv/

# SSH directory
.ssh/

# Logs
*.log

# CSV files
*.csv

# JSON files - Ignore all except cs510-project1-6c1b06b5846a.json
*.json
!cs510-project1-6c1b06b5846a.json

# Python cache files
__pycache__/

# Local configuration files
.local/


*.json
cleaned_jsons/
downloaded_jsons/
*.log
.cache/
*cron_log*
